[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MPTmultiverse"]
	path = MPTmultiverse
	url = https://github.com/mpt-network/mptmultiverse
